body{
		font-family: 'Roboto', sans-serif;
}

.navbar{
	margin-bottom: 0;
    border-radius: 0;
	background-color:white;
	border-bottom:2px solid black;
	float:none;
}

.navbar-default .container-fluid .navbar-collapse ul li a {
	font-weight:700;
}

.navbar-default .container-fluid .navbar-header a {
	color:#727A75;
	font-size:25px;
}

#menu {
	color:black;
	font-weight:700;
	border:none;
	top:-3px;
	left:-20px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default .navbar-toggle{
    border:none;        
}

#menu:hover{
	background-color:inherit;
}

.navbar-brand {
	width: 100%;
	left: 0;
	text-align: center;
	margin:0 auto;
	font-weight:700;
}

.navbar-header{
	width:100%;
}

ul.nav.navbar-nav{
	display:inline-block;
	padding:0 auto;
	text-align: center;
	margin:0 auto;
	float: none;
	font-size:20px;
}

.navbar-toggle{
	float:left;	
}

table, td{
	border:2px solid black;
	font-size:17px;
	background-color:#e6ffe6;
}

td{
	text-align:center;
}

table{
	margin:15px 0;
}

.headtable{
	background-color:#8DAB97;
	font-weight:700;
	color:white;
}

footer{
	font-size:15px;
	height:10px;
	border-top:2px solid black;
	padding:5px;
}

